@using _5_13Scraper.Controllers
@model List<Article>

 <h3 style="margin-top:40px;">LakewoodScoop Scraper</h3>

<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>DatePosted</th>
       
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td><img style="width: 150px; max-height: 200px;" src="@item.ImageUrl" /></td>
        <td>
            <a href="@item.Url" target="_blank">@item.Title</a>
        </td>
        <td>
            @if (item.Date.HasValue)
            {    @item.Date            }
                </td>

        </tr>
    }
</table>